<html>
  <body>
    <center>
      <div id="fullpage">
        <div class="section" id="homepage" data-menuanchor="firstPage">
          <div class='container'>
            <p id="main-header" class="darkfont"> The Wild World of Seth </p>
            <h4 class="darkfont">My most personal website, all about me.</h4>
            <div class="circular"></div>
            <div class="media-icons">
              
            </div>
          </div>
        </div>

        <!-- This will be the slide section for the second page-->
        <div class="section" id='pagetwo' data-menuanchor="secondPage">
          <div class="slide" id="pagetwo-one"> 
            <div class='container'>
              <h1 class="card-title">Samplify</h1>
              <p class="card-text">A Spotify API based Rails app, that provides 30 second song samples from various genre playlists. Samplify allows a user to login through their Spotify account, and generate new playlists to their accounts by simply picking a genre, and 'Liking' the sampled songs.</p>
              <a href="#" class="btn btn-primary">Check it out</a>
              <a href="https://github.com/samanthavholmes/samplify" class="btn btn-social-icon btn-github">
                <span class="fa fa-github"></span>
              </a>
            </div>
          </div> 

          <div class="slide" id="pagetwo-two"> 
            <div class='container'>
              <h1 class="card-title">The Still Life</h1>
              <p class="card-text">A Ruby on Rails based library of best practices for immersing oneself within the world of meditation. The Still Life is an easy to use, welcoming atmosphere created to allow people to become immersed within the world of meditation. This simple, yet information heavy web application, provides a user everything they might want to know, about how meditation can become a personal experience. 
              While working on this project I felt that the user experience, and overall look was just as important as the information on the page. By combining my knowledge of Bootstrap, and applying the plugin FullPage.js, I helped to design the overall look, and functionality of the main page.</p>
              <a href="https://murmuring-savannah-73602.herokuapp.com/" class="btn btn-primary">Check it out</a>
              <a href="https://github.com/nyc-nighthawks-2016/the-still-life" class="btn btn-social-icon btn-github">
                <span class="fa fa-github"></span>
              </a>
            </div>
          </div>  

          <div class="slide" id="pagetwo-three"> 
            <div class='container'>
              <h1 class="card-title">Sourceipe</h1>
              <p class="card-text">A crowd-sourced recipe website that allows for selection of most popular recipes to curate a menu of appetizers, entrees, salads and desserts. Built with a Ruby on Rails server with PostgreSQL, jQuery and pure CSS and implemented a search function using the Case Commons Ruby gem. Team project for the client-side Dev Bootcamp assignment.</p>
              <a href="https://guarded-badlands-11539.herokuapp.com/" class="btn btn-primary">Check it out</a>
              <a href="https://github.com/nyc-nighthawks-2016/sourceipe" class="btn btn-social-icon btn-github">
                <span class="fa fa-github"></span>
              </a>  
            </div>
          </div>   
     
        </div>

        <!-- This will be the slide section for the third page -->

        <div class="section" id='pagethree' data-menuanchor="thirdPage">
          <div class='container'>
            <div class="cards">
              <div class="col-xs-6 col-md-4 card">
                <div id="devbootcamp"></div>
                <div class="card-block" id="dev_text">
                  
                  <h5 class="card-text">
                    19-week long full stack web development program (nine week part-time remote + nine week on-campus immersive + one week optional career prep) that focuses on Ruby, JavaScript, Ruby on Rails, common JavaScript libraries, SQL, HTML and CSS, as well as pair programming, agile and test driven development. Throughout, the program integrates work on team skills such as communication, empathy and effective feedback.
                  </h5>
                  <a href="http://devbootcamp.com/" class="btn btn-primary">Check It Out</a>
                </div>
              </div> 

              <div class="col-xs-6 col-md-4">
                <div id="skyline"></div>
                <div class="card-block" id="skyline_text">
                  
                  <h4 class="card-text">
                    
                  </h4>
                  <a href="http://www.skylinenyc.net/" class="btn btn-primary">Check It Out</a>
                </div>
              </div>
          
              <div class="col-xs-6 col-md-4 card">
                <div id="ama"></div>
                <div class="card-block" id="ama_text">
                  
                  <h4 class="card-text">
                    
                  </h4>
                  <a href="http://www.amapc.com/" class="btn btn-primary">Check It Out</a>
                </div>
              </div>   
            </div>
          </div>
        </div>

        <!-- This will be the slide section for the fourth page -->

        <div class="section" id='pagefour' data-menuanchor="fourthPage">
          <div class="container">
            
          </div>
        </div>

        <!-- This will be the slide section for the fifth page -->

        <div class="section" id='pagefive' data-menuanchor="fifthPage">
          <div class="container">
            <h1 style="text-decoration: underline" class="darkfont"> More fun facts!</h1>
          </div>
        </div>

        <div class="section" id='pagesix' data-menuanchor="sixthPage">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                <h1>Contact Me</h1>
                <form id="contact-form" method="post" action="contact.php" role="form">
                  <div class="messages"></div>
                  <div class="controls">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="form_name">Firstname *</label>
                          <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required.">
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                              <label for="form_lastname">Lastname *</label>
                              <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your lastname *" required="required" data-error="Lastname is required.">
                              <div class="help-block with-errors"></div>
                          </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="form_email">Email *</label>
                          <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="form_phone">Phone</label>
                          <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Please enter your phone">
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="form_message">Message *</label>
                          <textarea id="form_message" name="message" class="form-control" placeholder="Message for me *" rows="4" required="required" data-error="Please,leave us a message."></textarea>
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                      <div class="col-md-12">
                          <input type="submit" class="btn btn-success btn-send" value="Send message">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <p class="text-muted"><strong>*</strong> These fields are required. Contact form template by <a href="http://bootstrapious.com" target="_blank">Bootstrapious</a>.</p>
                      </div>
                    </div>
                  </div>
                </form> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </center>
  </body>
</html>
