<html>
  <body>
    <center>
      <div id="fullpage">
        <div class="section" id="homepage" data-menuanchor="firstPage">
          <div class='container'>
            <p id="main-header" class="darkfont"> The Wild World of Seth </p>
            <h4 class="darkfont">My most personal website, all about me.</h4>
          </div>
        </div>

        <!-- This will be the slide section for the CHANTS PRACTICE -->
        <div class="section" id='pagetwo' data-menuanchor="secondPage">
          <div class="slide" id="pagetwo-one"> 
            <div class='container'>
              <h1 style="text-decoration: underline" class="whitefont"> Page Two - Slide One </h1>
              <h6>Info</h6>
            </div>
          </div> 

          <div class="slide" id="pagetwo-two"> 
            <div class='container'>
              <h1 style="text-decoration: underline" class="whitefont"> Page Two - Slide Two </h1>
              <h6>Info</h6>
            </div>
          </div>  

          <div class="slide" id="pagetwo-three"> 
            <div class='container'>
              <h1 style="text-decoration: underline" class="whitefont"> Page Two - Slide Three </h1>
              <h6>Info</h6>
            </div>
          </div>   

          <div class="slide" id="pagetwo-four"> 
            <div class='container'>
              <h1 style="text-decoration: underline" class="whitefont"> Page Two - Slide Four </h1>
              <h6>Info</h6>
            </div>
          </div>      
        </div>

        <!-- This will be the slide section for the BODY PRACTICES -->

        <div class="section" id='pagethree' data-menuanchor="thirdPage">
          <div class="slide" id="pagethree-one"> 
            <div class='container'>
              <h1 style="text-decoration: underline" class="whitefont"> Page three - Slide One </h1>
              <h6>Info</h6>
            </div>
          </div> 

          <div class="slide" id="pagethree-two"> 
            <div class='container'>
              <h1 style="text-decoration: underline" class="whitefont"> Page three - Slide Two</h1>
              <h6>Info</h6>
            </div>
          </div>  

          <div class="slide" id="pagethree-three"> 
            <div class='container'>
              <h1 style="text-decoration: underline" class="whitefont"> Page three - Slide Three</h1>
              <h6>Info</h6>
            </div>
          </div>   

          <div class="slide" id="pagethree-four"> 
            <div class='container'>
              <h1 style="text-decoration: underline" class="whitefont"> Page three - Slide Four </h1>
              <h6>Info</h6>
            </div>
          </div>      
        </div>

        <!-- This will be the slide section for the SEATED PRACTICES -->

        <div class="section" id='pagefour' data-menuanchor="fourthPage">
        
                  <h1 style="text-decoration: underline" class="darkfont"> Page Four </h1>
                  
        </div>

        <!-- This will be the slide section for the SERVICES PRACTICE -->

        <div class="section" id='pagefive' data-menuanchor="fifthPage">

                  <h1 style="text-decoration: underline" class="darkfont"> Page Five </h1>
                  
        </div>

        <!-- This will be the slide section for the GUIDELINES section -->

        <div class="section" id="guidelines" data-menuanchor="sixthPage">
          <div class='slide' id="guideline0">
            <div class="container">
              <div class="guide-style">
                <h2 style="text-decoration: underline" class="darkfont"> Guidelines for Meditation</h2>
                <h3 class="darkfont">Choose a practice that is good for you</h3>
                <h4 class="darkfont">Pick something that seems pleasant for you to do, as opposed to a chore. Something you might even look forward to.</h4>
                <h3 class="darkfont">Set aside the time</h3>
                <h4 class="darkfont">Make a small commitment at first, but one you can do every day or the same day each week. Ideally, your commitment would also be for the same time.</h4>
                <h3 class="darkfont">Don’t do too much!</h3>
                <h4 class="darkfont">Making too large a time commitment can get in the way of establishing a routine. Don’t underestimate the power of practicing 5 minutes every day, or going to a strong class once per week.</h4>
                <h3 class="darkfont">Keep your life as it is</h3>
                <h4 class="darkfont">There is no need to quit your job, leave your partner, and move to a cave in the mountains. The day-to-day travails of life can often propel our practice forward. But at first, just add a simple, sweet practice and let everything else be. </h4>
                
              </div>
            </div>
          </div>

          <div class='slide' id="guideline1">
            <div class="container">
              <div class="guide-style">
                <h1 style="text-decoration: underline" class="darkfont">During Practice</h1>
                <h3 class="darkfont">Return to your focus</h3>
                <h4 class="darkfont">Really, this is how you meditate. Whatever you choose to practice, you will find your mind wanders. It's ok, that’s what the mind does! The only thing to do is notice, and bring the mind back to your practice. Like lovingly redirecting a child back to their favorite toy.</h4>
                <h3 class="darkfont">Be consistent</h3>
                <h4 class="darkfont">Not every day is going to be the Greatest Meditation Ever. We must trust our practice is working even if we can't always tell that it is.</h4>
                <h3 class="darkfont">Love your practice</h3>
                <h4 class="darkfont">Your practice should give you an internal smile most of the time</h4>
                <h3 class="darkfont">Your practice is yours</h3>
                <h4 class="darkfont">It is tempting to compare ourselves to others or feel like we “should” be doing this or that. Try to trust that you have picked the best practice for yourself, and let that practice take care of itself. No need to worry!</h4>
                <br>
              </div>
            </div>
          </div>

          <!-- This will be the slide section for the TIPS section -->

          <div class='slide' id="guideline2">
            <div class="container">
              <div class="guide-style">
                <h1 style="text-decoration: underline" class="darkfont">Tips - Halp! My Mind Is Argh!</h1>
                <h3 class="darkfont">Make a list</h3>
                <h4 class="darkfont">If thoughts overwhelm your practice and you feel the argh, stop and make a list of all the things that come up. When they’re all down, go back to your practice.</h4>
                <h3 class="darkfont">The houseguest</h3>
                <h4 class="darkfont">Imagine your mind is a party. You are the host, thoughts are the guests. Welcome the guests, and let them know that you will get chat with them when you are done preparing their party, i.e., your practice. (This is a recommendation from Swami Ashokananda from Integral Yoga Institute).</h4>
                <h3 class="darkfont">Fill your mind with good things</h3>
                <h4 class="darkfont">It can be helpful to moderate what you read and watch to support your practice. If you shift your reading and watching habits to include things that are related to your practice, it is easier to get into your practice mode when the time comes.</h4>
                <br>
              </div>
            </div>
          </div>

          <div class="slide" id="guideline3">
            <div class="container">
              <div class="guide-style">
                <h1 style="text-decoration: underline" class="darkfont">Tips - Seek Company for Your Journey</h1>
                <h3 class="darkfont">Find like-minded People</h3>
                <h4 class="darkfont">Being with people who are of a like mind, who have a practice, is a nice way to support your work. Knowing there are people experiencing similar troubles and triumphs can be very calming.</h4>
                <h3 class="darkfont">Find a teacher</h3>
                <h4 class="darkfont">There is no substitute for having access to someone who has completed the journey you are beginning. They can help in ways that are hard to imagine. Finding a proper guide can be a long process, but for %99.99 of us our practice can only go so far without one. There is no rush- do your chosen practice, and start looking into who teaches similar things. That will take care of it.</h4>
                <h3 class="darkfont">Talk therapy</h3>
                <h4 class="darkfont">While dredging up old baggage is never really useful, having insight into your emotional life can bring insights into your habits and bring clarity to your intention. And help you let go of things you find you no longer need.</h4>
                <br>
              </div>
            </div>
          </div>
        </div>
       
        <!-- This will be the slide section for the LIFESTYLE section -->

        <div class="section" id="lifestyle" data-menuanchor="seventhPage">
          <div class='slide' id="lifestyle0">
            <div class="container">
              <div class="life-style">
                <h1 style="text-decoration: underline" class="whitefont">Lifestyle</h1>
                <h4 class="whitefont">The best lifestyle advice is: Be good! Be good for your health, and be good for the uplift of the world. The suggestions below are meant as things to think about as you deepen your practice or if you feel you need a change in your habits to be in line with this advice. Lifestyle changes should be small and gradual so they stick.</h4>
                <h3 class="whitefont">Quitting everything</h3>
                <h4 class="whitefont">Don’t do it! Change one thing a time. Start with adding your practice. Make it a habit. Then, to support your practice, change one small thing if you like. Make that a habit. Small changes over time are much better than massive changes all at once.</h4>
              </div>
            </div>
          </div>

          <div class="slide" id="lifestyle1">
            <div class="container">
              <div class="life-style">
                <h1 style="text-decoration: underline" class="whitefont">Eating habits</h1>
                <h4 class="whitefont">Several of the masters in various traditions say that you should eat what you want, just not too much. Below, however, are some considerations from these same traditions that can help people feel confident making positive changes to support their new practice.</h4>
                <h3 class="whitefont">Simple foods, well prepared</h3>
                <h4 class="whitefont">Think for a moment how sugar affects you. You get a burst of mental and physical energy, followed by a trough. Moderating these types of foods seems like a good idea to help keep the mind calm. Start to notice how the food you eat makes you feel.</h4>
                <h3 class="whitefont">72 Labors</h3>
                <h4 class="whitefont">This is a Buddhist practice that considers what work (and by whom) has gone into the meal that has been set in front of you. It can be nice to simply honor that, but it can also be a good way to decide what to eat.</h4>
                <h3 class="whitefont">Moderate alcohol</h3>
                <h4 class="whitefont">In the right circumstances and smaller quantities, alcohol and similar things are fine. Even so, it is best to keep your main practice time free of them if you can.</h4>
              </div>
            </div>
          </div>

          <div class="slide" id="lifestyle2">
            <div class="container">
              <div class="life-style">
                <h1 style="text-decoration: underline" class="whitefont"> Vegetarian/Veganism</h1>
                <h4 class="whitefont">Many traditions strongly recommend cutting at least meat and fish out of the diet. It is not expressly necessary, but here are the reasons worth considering for yourself.</h4>
                <h4 class="whitefont"><em>Compassion:</em></h4>
                <h4 class="whitefont">Consuming a diet mainly of plant based ingredients is generally more gentle both from a saving lives standpoint and from a food production standpoint.</h4>
                <h4 class="whitefont"><em>Health:</em></h4>
                <h4 class="whitefont">Adjusting the ratio of animal to plant-based foods to be more on the plant side has many health benefits.</h4>
              </div>
            </div>
          </div>
          
          <div class='slide' id="lifestyle3">
            <div class="container">
              <div class="life-style">
                <h1 style="text-decoration: underline" class="whitefont">Working Habits</h1>
                <h3 class="whitefont">Work habits</h3>
                <h4 class="whitefont">The ideal is to work thoughtfully without overly identifying with whatever you do.</h4>
                <h3 class="whitefont">What kind of work?</h3>
                <h4 class="whitefont">The kind you feel is good work.</h4>
                <h3 class="whitefont">How much?</h3>
                <h4 class="whitefont">Over-work and under-work have a negative impact on health. Find the place where you feel engaged but not consumed.</h4>
                <h3 class="whitefont">Exercise habits</h3>
                <h4 class="whitefont">Even if your personal practice is not physically demanding, a little regular exercise can go a long way to supporting a developing meditation practice. Something simple like a morning walk would do it.</h4>
              </div>
            </div>
          </div>
        </div>

        <div class="section" id="getting-started" data-menuanchor="eighthPage">
          <div class="slide" id="getting-started0">
            <div class="container">
              <div class="started-style">
                <br>
                <h1 style="text-decoration: underline" class="darkfont"> Getting Started</h1>
                <h3 class="darkfont">There is a saying that there are about as many ways to develop a meditation practice as there are people in the universe. In that spirit, our site provides suggested starting points taken from the major meditative traditions. If you don’t find something that feels right, pick something that is pretty close and modify it to your preference. This is a good way to make meditation feel like a reward rather than a chore. In this way, we think of your daily practice as your daily meditation retreat. Here’s how our site works:</h3>
                <br>
              </div>
            </div>
          </div>

          <div class="slide" id="getting-started1">
            <div class="container">
              <div class="started-style">
                <br>
                <h1 style="text-decoration: underline" class="darkfont">1. Pick a practice</h1>
                <h3 class="darkfont">Take your time and browse the categories to find a good fit. Once you choose a practice, that will be the main one you do for a while, and the one that will be used to show your progress.</h3>
                <br>
              </div>
            </div>
          </div>

          <div class="slide" id="getting-started2">
            <div class="container">
              <div class="started-style">
                <br>
                <h1 style="text-decoration: underline" class="darkfont">2. Set your practice time</h1>
                <h3 class="darkfont">Once you have settled on a practice, select it and set your practice time. Be sure this time is pretty consistently available to you.</h3>
                <br>
              </div>
            </div>
          </div>
        
          <div class="slide" id="getting-started3">
            <div class="container">
              <div class="started-style">
                <br>
                <h1 style="text-decoration: underline" class="darkfont">3. Do your practice</h1>
                <h3 class="darkfont">You’ll get a reminder text to help you remember your practice time. Once you have finished your practice, click the complete button. Every time you complete a practice session, you’ll get a new leaf stored on your profile so you can watch your practice grow.</h3>
                <br>
              </div>
            </div>
          </div>

          <!-- <div class="slide" id="getting-started4">
            <div class="container">
              <div class="started-style">
                <br>
                <h1 style="text-decoration: underline" class="darkfont">4. Watch your progress</h1>
                <h3 class="darkfont">That’s all! Every time you complete a practice session, you’ll get a new leaf stored on your profile so you can watch your practice grow.</h3>
                <br>
              </div>
            </div>
          </div> -->

          <div class="slide" id="getting-started5">
            <div class="container">
              <div class="started-style">
                <h1 style="text-decoration: underline" class="darkfont">Keep It Up</h1>
                
                <br>
              </div>
           </div>
          </div>
        </div>

        <!-- <div class="section" id="resources" data-menuanchor="ninthPage">
          <div class="container">
            <h1 style="text-decoration: underline"> This will be the further study page</h1>
          </div>
        </div> -->

      </div>
    </center>
  </body>
</html>
