<html>
  <body>
    <center>
      <div id="fullpage">
        <div class="section" id="homepage" data-menuanchor="firstPage">
          <div class='container'>
            <p id="main-header" class="darkfont">It's Seth Daniel Goldman</p>
            <div class="description">
                <h4 class="darkfont">Finally a place where creativity, engineering, and a love of the unknown come together. My most personal website, all about me.</h4>
            </div>
            <div class="circular"></div>
          </div>
        </div>

        <!-- This will be the slide section for the second page-->
        <div class="section" id='pagetwo' data-menuanchor="secondPage">
          <div class="slide" id="pagetwo-one"> 
            <div class='container card-design'>
              <div class="row">
                <div class="col-xs-12 col-md-12">
                  <h1 class="card-title">Samplify</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6 col-md-4">
                  <div class="samplify1"></div>
                </div>
                <div class="col-xs-6 col-md-4">
                  <div class="samplify2"></div>
                </div>
                <div class="col-xs-6 col-md-4">
                  <div class="samplify3"></div>
                </div><br>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-12">
                  <h5 class="center-text">A Spotify API based Rails app, that provides 30 second song samples from various genre playlists. Samplify allows a user to login through their Spotify account, and generate new playlists to their accounts by simply picking a genre, and 'Liking' the sampled songs.</h5>
                  <a href="#" class="btn btn-primary">Check it out</a>
                  <a href="https://github.com/samanthavholmes/samplify" class="btn btn-social-icon btn-github">
                    <span class="fa fa-github"></span>
                  </a><br>
                </div>
              </div> 
            </div>
          </div>

          <div class="slide" id="pagetwo-two"> 
            <div class='container card-design'>
              <div class="row">
                <div class="col-xs-12 col-md-12">
                  <h1 class="card-title">The Still Life</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6 col-md-4">
                  <div class="stilllife1"></div>
                </div>
                <div class="col-xs-6 col-md-4">
                  <div class="stilllife2"></div>
                </div>
                <div class="col-xs-6 col-md-4">
                  <div class="stilllife3"></div>
                </div><br>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-12">
                  <h5 class="center-text">A Ruby on Rails based library of best practices for immersing oneself within the world of meditation. The Still Life is an easy to use, welcoming atmosphere created to allow people to become immersed within the world of meditation. This simple, yet information heavy web application, provides a user everything they might want to know, about how meditation can become a personal experience. 
                  While working on this project I felt that the user experience, and overall look was just as important as the information on the page. By combining my knowledge of Bootstrap, and applying the plugin FullPage.js, I helped to design the overall look, and functionality of the main page.</h5>
                  <a href="https://murmuring-savannah-73602.herokuapp.com/" class="btn btn-primary">Check it out</a>
                  <a href="https://github.com/nyc-nighthawks-2016/the-still-life" class="btn btn-social-icon btn-github">
                    <span class="fa fa-github"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>  

          <div class="slide" id="pagetwo-three"> 
            <div class='container card-design'>
              <div class="row">
                <div class="col-xs-12 col-md-12">
                  <h1 class="card-title">Sourceipe</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6 col-md-4">
                  <div class="source1"></div>
                </div>
                <div class="col-xs-6 col-md-4">
                  <div class="source2"></div>
                </div>
                <div class="col-xs-6 col-md-4">
                  <div class="source3"></div>
                </div><br>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-12">
                  <h5 class="center-text">A crowd-sourced recipe website that allows for selection of most popular recipes to curate a menu of appetizers, entrees, salads and desserts. Built with a Ruby on Rails server with PostgreSQL, jQuery and pure CSS and implemented a search function using the Case Commons Ruby gem. Team project for the client-side Dev Bootcamp assignment.</h5>
                  <a href="https://guarded-badlands-11539.herokuapp.com/" class="btn btn-primary">Check it out</a>
                  <a href="https://github.com/nyc-nighthawks-2016/sourceipe" class="btn btn-social-icon btn-github">
                    <span class="fa fa-github"></span>
                  </a>
                </div>
              </div>  
            </div>
          </div>   
        </div>

        <!-- This will be the slide section for the third page -->

        <div class="section" id='pagethree' data-menuanchor="thirdPage">
          <div class='container-fluid'>
            <div class="row">
              <div class="col-xs-12 col-md-12">
                <h1 class="card-title">Experience</h1>
              </div>
              <div class="col-xs-6 col-md-4">
                <!-- <div id="devbootcamp"></div> -->
                <div class="card-block card" id="dev_text">
                  <h3>Dev Bootcamp</h3>
                  <h5 class="card-text">
                    19-week long full stack web development program (nine week part-time remote + nine week on-campus immersive + one week optional career prep) that focuses on Ruby, JavaScript, Ruby on Rails, common JavaScript libraries, SQL, HTML and CSS, as well as pair programming, agile and test driven development. Throughout, the program integrates work on team skills such as communication, empathy and effective feedback.
                  </h5>
                  <a href="http://devbootcamp.com/" class="btn btn-primary">Check It Out</a><br>
                </div>
              </div> 

              <div class="col-xs-6 col-md-4">
                <!-- <div id="skyline"></div> -->
                <div class="card-block card" id="skyline_text">
                  <h3>Skyline Engineering LLC</h3>
                  <h5 class="card-text">
                    Skyline Engineering is an Accredited Class 1 Special Inspection Agency comprised of licensed professional engineers and registered architects. Skyline Engineering was formed as a Special Inspection Agency in response to the adoption of the 2008 New York City Building Code, and has expanded to provide Commissioning and functional testing.
                  </h5>
                  <a href="http://www.skylinenyc.net/" class="btn btn-primary">Check It Out</a><br>
                </div>
              </div>
          
              <div class="col-xs-6 col-md-4">
                <!-- <div id="ama"></div> -->
                <div class="card-block card" id="ama_text">
                  <h3>AMA Consulting Engineers P.C.</h3>
                  <h5 class="card-text">
                    Founded in 2000, AMA Consulting Engineers is led by a group of motivated professionals who have created a dynamic design firm which provides both extraordinary client service and innovative sustainable designs. AMA now consists of a multi-faceted organization numbering 100+ employees with headquarters in New York City and regional offices in Los Angeles (CA), Madison (NJ) and Manhasset (NY). AMA is considered an industry leader in the design of media, broadcast and production facilities having a portfolio of 250+ such facilities.
                  </h5>
                  <a href="http://www.amapc.com/" class="btn btn-primary">Check It Out</a><br>
                </div>
              </div>   
            </div>
          </div>
        </div>

        <!-- This will be the slide section for the fourth page -->

        <div class="section" id='pagefour' data-menuanchor="fourthPage">
          <div class="container">
            <div class="resume">
              <iframe src="https://resume.creddle.io/embed/f8bpyjiyt90" width="850" height="600" seamless></iframe>
            </div>
          </div>
        </div>

        <!-- This will be the slide section for the fifth page -->

        <div class="section" id='pagefive' data-menuanchor="fifthPage">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-md-12">
                <h1 style="text-decoration: underline" class="darkfont"> More fun facts!</h1>
                <h5 class="center-text-alt"> 
                  Now this is a story all about how my life got flipped-turned upside down and I'd like to take a minute just sit right there, I'll tell you how I became the prince of a town called Bel-Air.
                  In west Philadelphia born and raised on the playground was where I spent most of my days chillin' out maxin' relaxin' all cool and all shooting some b-ball outside of the school.
                  When a couple of guys who were up to no good
                  Started making trouble in my neighborhood
                  I got in one little fight and my mom got scared
                  She said, "You're movin' with your auntie and uncle in Bel-Air."

                  I begged and pleaded with her day after day
                  But she packed my suitcase and sent me on my way
                  She gave me a kiss and then she gave me my ticket.
                  I put my Walkman on and said, "I might as well kick it."

                  First class, yo, this is bad
                  Drinking orange juice out of a champagne glass.
                  Is this what the people of Bel-Air living like?
                  Hmm, this might be alright.

                  But wait I hear they're prissy, bourgeois, all that
                  Is this the type of place that they just send this cool cat?
                  I don't think so
                  I'll see when I get there
                  I hope they're prepared for the prince of Bel-Air

                  Well, the plane landed and when I came out
                  There was a dude who looked like a cop standing there with my name out
                  I ain't trying to get arrested yet
                  I just got here
                  I sprang with the quickness like lightning, disappeared

                  I whistled for a cab and when it came near
                  The license plate said "Fresh" and it had dice in the mirror
                  If anything I could say that this cab was rare
                  But I thought, "Nah, forget it."
                  – "Yo, home to Bel-Air."

                  I pulled up to the house about 7 or 8
                  And I yelled to the cabbie, "Yo home smell ya later."
                  I looked at my kingdom
                  I was finally there
                  To sit on my throne as the Prince of Bel-Air.
                </h5>
              </div>
            </div>
          </div>
        </div>

        <div class="section" id='pagesix' data-menuanchor="sixthPage">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                <h1>Contact Me</h1>
                <form id="contact-form" method="post" action="/contact" role="form">
                  <div class="messages"></div>
                  <div class="controls">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="form_name">Firstname *</label>
                          <input id="form_name" type="text" name="contact[name]" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required.">
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                              <label for="form_lastname">Lastname *</label>
                              <input id="form_lastname" type="text" name="contact[surname]" class="form-control" placeholder="Please enter your lastname *" required="required" data-error="Lastname is required.">
                              <div class="help-block with-errors"></div>
                          </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="form_email">Email *</label>
                          <input id="form_email" type="email" name="contact[email]" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="form_phone">Phone</label>
                          <input id="form_phone" type="text" name="contact[phone]" class="form-control" placeholder="Please enter your phone">
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="form_message">Message *</label>
                          <textarea id="form_message" name="contact[message]" class="form-control" placeholder="Message for me *" rows="4" required="required" data-error="Please,leave us a message."></textarea>
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                      <div class="col-md-12">
                          <input type="submit" class="btn btn-success btn-send" value="Send message">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <p class="text-muted"><strong>*</strong> These fields are required. Contact form template by <a href="http://bootstrapious.com" target="_blank">Bootstrapious</a>.</p>
                      </div>
                    </div>
                  </div>
                </form> 
              </div>
            </div>
          </div>
        </div>

      </div>
    </center>
  </body>
</html>
