<html>
  <body>
    <center>
      <div id="fullpage">
        <div class="section" id="homepage" data-menuanchor="firstPage">
          <div class='container'>
            <p id="main-header" class="darkfont"> The Wild World of Seth </p>
            <h4 class="darkfont">My most personal website, all about me.</h4>
          </div>
        </div>

        <!-- This will be the slide section for the second page-->
        <div class="section" id='pagetwo' data-menuanchor="secondPage">
          <div class="slide" id="pagetwo-one"> 
            <div class='container'>
              <h1 style="text-decoration: underline" class="whitefont"> Page Two - Slide One </h1>
              <h6>Info</h6>
            </div>
          </div> 

          <div class="slide" id="pagetwo-two"> 
            <div class='container'>
              <h1 style="text-decoration: underline" class="whitefont"> Page Two - Slide Two </h1>
              <h6>Info</h6>
            </div>
          </div>  

          <div class="slide" id="pagetwo-three"> 
            <div class='container'>
              <h1 style="text-decoration: underline" class="whitefont"> Page Two - Slide Three </h1>
              <h6>Info</h6>
            </div>
          </div>   

          <div class="slide" id="pagetwo-four"> 
            <div class='container'>
              <h1 style="text-decoration: underline" class="whitefont"> Page Two - Slide Four </h1>
              <h6>Info</h6>
            </div>
          </div>      
        </div>

        <!-- This will be the slide section for the third page -->

        <div class="section" id='pagethree' data-menuanchor="thirdPage">
          <div class="slide" id="pagethree-one"> 
            <div class='container'>
              <h1 style="text-decoration: underline" class="whitefont"> Page three - Slide One </h1>
              <h6>Info</h6>
            </div>
          </div> 

          <div class="slide" id="pagethree-two"> 
            <div class='container'>
              <h1 style="text-decoration: underline" class="whitefont"> Page three - Slide Two</h1>
              <h6>Info</h6>
            </div>
          </div>  

          <div class="slide" id="pagethree-three"> 
            <div class='container'>
              <h1 style="text-decoration: underline" class="whitefont"> Page three - Slide Three</h1>
              <h6>Info</h6>
            </div>
          </div>   

          <div class="slide" id="pagethree-four"> 
            <div class='container'>
              <h1 style="text-decoration: underline" class="whitefont"> Page three - Slide Four </h1>
              <h6>Info</h6>
            </div>
          </div>      
        </div>

        <!-- This will be the slide section for the fourth page -->

        <div class="section" id='pagefour' data-menuanchor="fourthPage">
        
                  <h1 style="text-decoration: underline" class="darkfont"> Page Four </h1>
                  
        </div>

        <!-- This will be the slide section for the fifth page -->

        <div class="section" id='pagefive' data-menuanchor="fifthPage">

                  <h1 style="text-decoration: underline" class="darkfont"> Page Five </h1>
                  
        </div>

      </div>
    </center>
  </body>
</html>
