// Place all the styles related to the Mainpages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the practices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#main-header {
	font-size: 5em;
	color: #000000;
}


.description {
	width: 75%;
}

.whitefont {
	color: #fffafa;
}

.whitefont a {
	color: #fffafa;	
}

.grayishfont {
	color: #DCDCDC;
}

.darkfont {
	color: #000000;
}

.darkfont a {
	color: #000000;
}

#homepage {
	background-image: url("mountain_lookout.jpg");
	background-size: contain;
	background-attachment: fixed;
	background-size: cover;
}

.description {
	width: 65%;
}

.circular {
	width: 150px;
	height: 150px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	background-image: url("jacket.jpg");
	background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
}

#pagetwo-one, #pagetwo-two, #pagetwo-three, #pagetwo-four {
	background-image: url("mountain_lookout.jpg");
	background-size: contain;
	background-attachment: fixed;
	background-size: cover;
}

.pagetwo-style {
	background-color: rgba(51, 51, 51, 0.25);
  	width: 65%;
  	border: 2px solid #fffafa; 
}

.col-xs-12 .col-md-12 {
	text-align: center;
	align-content: center;
}

.samplify1 {
	width: 300px;
	height: 200px;
	background-image: url("samplify1.png");
	background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    align-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.samplify2 {
	width: 300px;
	height: 200px;
	background-image: url("samplify2.png");
	background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    align-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.samplify3 {
	width: 300px;
	height: 200px;
	background-image: url("samplify3.png");
	background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    align-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.stilllife1 {
	width: 300px;
	height: 200px;
	background-image: url("stilllife1.png");
	background-repeat: no-repeat;
	background-attachment: center;
    background-size: contain;
    background-size: cover;
    align-content: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.stilllife2 {
	width: 300px;
	height: 200px;
	background-image: url("stilllife3.png");
	background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    align-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.stilllife3 {
	width: 300px;
	height: 200px;
	background-image: url("stilllife4.png");
	background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    align-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.source1 {
	width: 300px;
	height: 200px;
	background-image: url("sourceipe1.png");
	background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    align-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.source2 {
	width: 300px;
	height: 200px;
	background-image: url("sourceipe3.png");
	background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    align-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.source3 {
	width: 300px;
	height: 200px;
	background-image: url("sourceipe4.png");
	background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    align-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.center-text {
	width: 75%;
	background-color: rgba(250, 250, 250, 0.5);
}

.hidden {
    display: none;
}

#pagethree {
	background-image: url("mountain_lookout.jpg");
	background-size: contain;
	background-attachment: fixed;
	background-size: cover;
}

.pagethree-style {
	background-color: rgba(255, 250, 250, 0.25);
  	width: 65%;
  	border: 2px solid #000000;
}

.cards {
	width: 100%;
	//height: 80%;
	vertical-align: top;

}

.col-xs-6 .col-md-4 {
	text-align: center;
	align-content: center;
}

.card {
	background-color: rgba(250, 250, 250, 0.5);
	border: 2px solid black;
	border-radius: 10px;
	padding-top: 1%;
	padding-bottom: 1%;
}

#devbootcamp {
	background-image: url("devbootcamp.png");
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 150px;
	text-align: center;
}

#dev_text {
	width: 100%;
	height: 100%;
}

#skyline {
	background-image: url("skyline.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 100px;
	text-align: center;
}

#skyline_text {
	width: 100%;
	height: 100%;
}

#ama {
	background-image: url("ama-logo.png");
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 100px;
	text-align: center;
}

#ama_text {
	width: 100%;
	height: 100%;
}

#pagefour {
	background-image: url("mountain_lookout.jpg");
	background-size: contain;
	background-attachment: fixed;
	background-size: cover;
}	

.pagefour-style {
	background-color: rgba(255, 250, 250, 0.65);
  	width: 65%;
  	border: 2px solid #000000;
}

#pagefive {
	background-image: url("mountain_lookout.jpg");
	background-size: contain;
	background-attachment: fixed;
	background-size: cover;
}

