// Place all the styles related to the Mainpages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the practices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#main-header {
	font-size: 5em;
	color: #000000;
}


.description {
	width: 75%;
}

.whitefont {
	color: #fffafa;
}

.whitefont a {
	color: #fffafa;	
}

.grayishfont {
	color: #DCDCDC;
}

.darkfont {
	color: #000000;
}

.darkfont a {
	color: #000000;
}

#homepage {
	background-image: url("birds_sunset.jpg");
	background-size: contain;
	background-attachment: fixed;
	background-size: cover;
	
}

#pagetwo-one, #pagetwo-two, #pagetwo-three, #pagetwo-four {
	background-image: url("perfect_crash.jpg");
	background-size: contain;
	background-attachment: fixed;
	background-size: cover;
	
}

.pagetwo-style {
	background-color: rgba(51, 51, 51, 0.25);
  	width: 65%;
  	border: 2px solid #fffafa; 
}

#pagethree-one, #pagethree-two, #pagethree-three, #pagethree-four {
	background-image: url("mountain_lookout.jpg");
	background-size: contain;
	background-attachment: fixed;
	background-size: cover;
}

.pagethree-style {
	background-color: rgba(255, 250, 250, 0.25);
  	width: 65%;
  	border: 2px solid #000000;
}

#pagefour-one, #pagefour-two, #pagefour-three, #pagefour-four {
	background-image: url("centered_mountain.jpg");
	background-size: contain;
	background-attachment: fixed;
	background-size: cover;
}	

.pagefour-style {
	background-color: rgba(255, 250, 250, 0.65);
  	width: 65%;
  	border: 2px solid #000000;
}

#service0, #service1, #service2, #service3, #service4 {
	background-image: url("ideal_splash.jpg");
	background-size: contain;
	background-attachment: fixed;
	background-size: cover;
}

.service-style {
	background-color: rgba(255, 250, 250, 0.65);
  	width: 65%;
  	border: 2px solid #000000;
}

#guideline0, #guideline1, #guideline2, #guideline3 {
	background-image: url("perfect_pier.jpg");
	background-size: contain;
	background-attachment: fixed;
	background-size: cover;	
}

.guide-style {
	background-color: rgba(255, 250, 250, 0.45);
  	border: 2px solid #000000;
    top: 20px;
}

#lifestyle0, #lifestyle1, #lifestyle2, #lifestyle3 {
	background-image: url("snow_green_lake.jpg");
	background-size: contain;
	background-attachment: fixed;
	background-size: cover;
}

.life-style {
	background-color: rgba(51, 51, 51, 0.65);
  	width: 85%;
  	border: 2px solid #fffafa; 
}

#getting-started0, #getting-started1, #getting-started2, #getting-started3, #getting-started4, #getting-started5 {
	background-image: url("kayak_lake.jpg");
	background-size: contain;
	background-attachment: fixed;
	background-size: cover;	

}

.started-style {
	background-color: rgba(255, 250, 250, 0.35);
  	width: 75%;
  	border: 2px solid #000000;
}

.practice-style {
	background-color: rgba(51, 51, 51, 0.45);
  	width: 75%;
  	border: 2px solid #fffafa; 
}